:root {
  --font-family: "Outfit", sans-serif;

  --font-size-32: 2rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-18: 1.13rem;
  --font-size-16: 1rem;
  --font-size-15: 0.94rem;
  --font-size-14: 0.88rem;
  --font-size-13: 0.81rem;
  --font-size-12: 0.75rem;

  --font-weight-400: 400;
}

.trending__heading,
.recommended__heading,
.tvseries__heading,
.movies__heading,
.bookmark__heading {
  color: var(--neutral-clr-one);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.312px;

  @media (min-width: 760px) {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -0.5px;
  }
}

.thumbnail__heading {
  color: var(--neutral-clr-one);
  font-size: 14px;
  font-weight: 400;

  &--trending {
    font-size: 15px;
  }

  @media (min-width: 760px) {
    font-size: 18px;

    &--trending {
      font-size: 24px;
    }
  }
}
