.searchbar {
  grid-area: searchbar;
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 0 15px;

  margin-bottom: 26px;

  transition: 0.8s all;

  @media (min-width: 760px) {
    gap: 24px;

    padding: 0 24px 0 25px;
  }

  @media (min-width: 1000px) {
    margin-top: 30px;
  }

  &__form {
    width: 100%;
  }

  &__input {
    width: 100%;

    color: var(--neutral-clr-one);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-400);

    caret-color: red;

    border: none;
    outline: none;

    padding: 10px 10px 10px 0;

    background-color: transparent;

    opacity: 0.4979;

    @media (min-width: 760px) {
      font-size: var(--font-size-24);
    }

    &:focus {
      opacity: 1;
      border-bottom: 1px solid #5a698f;

      transition: 0.8s all;
    }
  }
}

::placeholder {
  color: var(--neutral-clr-one);
  font-size: 16px;
  font-weight: 400;

  opacity: 0.4979;
}
