body {
  font-family: var(--font-family);

  background: var(--primary-clr-two);
}

.layout {
  @media (min-width: 62.5rem) {
    display: grid;
    grid-template-areas: "header searchbar" "header main";
    column-gap: 2.25rem;
    row-gap: 0.13rem;

    padding: 2rem 2.25rem 2rem 2rem;
  }
}

main {
  display: grid;
  grid-area: main;
  gap: 1.38rem;
  padding: 0 1rem;

  @media (min-width: 47.5rem) {
    gap: 2.25rem;
    padding: 0 1.5rem 0 1.56rem;
  }

  @media (min-width: 62.5rem) {
    gap: 2.31rem;
    padding: 0;
  }
}

.trending {
  display: grid;
  gap: 0.81rem;

  @media (min-width: 47.5rem) {
    gap: 1.25rem;
  }
}

.recommended,
.search,
.tvseries,
.movies,
.bookmark {
  display: grid;
  gap: 1.31rem;

  @media (min-width: 47.5rem) {
    gap: 1.25rem;
  }

  @media (min-width: 62.5rem) {
    gap: 1.69rem;
  }
}
