.header {
  grid-area: header;
  padding: 0 1rem;

  background: var(--primary-clr-three);

  margin-bottom: 0.88rem;

  transition: 0.8s all;

  @media (min-width: 47.5rem) {
    padding: 1.44rem 1.5rem 0 1.56rem;
    margin-bottom: 1.44rem;

    background: none;
  }

  @media (min-width: 62.5rem) {
    padding: 0;
  }

  &__content {
    max-width: 69.38rem;
    display: grid;
    align-items: center;
    justify-items: stretch;

    grid-template-columns: repeat(3, 1fr);

    padding: 1rem 0;
    margin: 0 auto;

    @media (min-width: 47.5rem) {
      padding: 1.5rem 1rem 1.4rem 1.5rem;
      border-radius: 0.63rem;

      background: var(--primary-clr-three);
    }

    @media (min-width: 62.5rem) {
      max-width: 6rem;
      min-height: 60rem;

      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 6.31rem 6.19rem 1fr;
      gap: 3.13rem;

      padding: 2.21rem 2.01rem 2rem 1.99rem;
      border-radius: 1.25rem;
    }
  }

  &__logo {
    @media (min-width: 62.5rem) {
      align-self: start;
    }
  }

  &__user {
    max-width: 1.5rem;

    justify-self: end;

    border: solid 1px var(--neutral-clr-one);
    border-radius: 50%;

    @media (min-width: 62.5rem) {
      max-width: 2.5rem;

      align-self: end;
    }
  }
}
