.nav {
  justify-self: center;

  &__list {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    @media (min-width: 62.5rem) {
      flex-direction: column;
      gap: 2.5rem;
    }
  }
}
